.button{
    background: $gradient;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 1.21em 2.78em;
    transition: .7s all;
    &:hover{
        transform: translateY(-5px);
        background: linear-gradient(93.52deg, #fa7426 30.62%, #f51e29 79.3%);
    }
    &-main{
        display: inline-block;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
    &-header{
        font-size: 14px;
    }
    &-item{
        padding: 10px 44px;
        width: 200px;
        margin: 0 auto;
    }
    &-submit{
        font-size: 18px;
        margin-bottom: 23px;
        margin-top: 20px;
    }
    &-consultation{
        font-size: 18px;
        padding: 19px 58px;
        &_popup{
            width: 350px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
        }
    }
    
    
}