.button{
    background: linear-gradient(93.52deg, #FF5C00 30.62%, #F8323D 79.3%);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 1.21em 2.78em;
    transition: .7s all;
    &:hover{
        transform: translateY(-5px);
        background: linear-gradient(93.52deg, #fa7426 30.62%, #f51e29 79.3%);
    }

    &-header{
        font-size: 14px;
    }
}