.footer{
    min-height: 97px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 213px;
        height: 46px;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__social{
        display: flex;
    }
    &__link{
        width: 50px;
        height: 50px;
        display: block;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}