@media (max-width: 1400px){
    .overlay{
        .popup{
            &__ledf-img{
                width: 112px;
                height: 56px;
            }
            &__right-img{
                width: 403px;
                height: 196px;
            }
            &__img{
                justify-content: space-around;
                margin-bottom: 5px;
            }
            &__title{
                padding: 10px 0;
            }
            &__descr{
                margin-bottom: 10px;
                &-title{
                    margin-bottom: 5px;
                }
            }
            &__exit{
                top: -5px;
            }
            &__object{
                padding-bottom: 8px;
            }
        }

    }
}